.DS_Store
Thumbs.db
._*
*.class
dist/
build/
log/
logs/
*.*~
*.bak
.svn/
*.pyc
*.swp
settings_*.py
develop-eggs
downloads
parts
eggs
src/*.egg-info
.installed.cfg
.mr.developer.cfg
.idea
.sass-cache
*.sublime-project
*.sublime-workspace
